body {
    background-color: #24292e;
}

nav {
    display: flex;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    flex-direction: column;
}

div.strikes{
    height: 5em;
}

h1 {
    color: #aec6cf;
    font-size: 4em;
    text-align: center;
}

h2 {
    color: #aec6cf;
    margin: 10px; 

}

h3 {
    color: #aec6cf;
    text-align: center;
}